/* 

*/

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: "Quicksand";
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
}

h2 {
  text-align: center;
  background-color: #f4a226;
  font-family: "Monoton";
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 200;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

.add-form {
  background-color: #e5771f;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.add-form button {
  text-transform: uppercase;
  background-color: #76c7ad;
  border: none;
  padding: 1em;
  border-radius: 7px;
  cursor: pointer;
}

.stats {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
}

div.isDone {
  border: 1px solid green;
  background-color: green;
  color: #fff;
  font-weight: bold;
}

/* STYLING THE FLASHCARDS */
.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-block-start: 1rem;
}

.flashcards div {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.flashcard {
  /* display: flex; */
  flex-direction: column;
  gap: 2em;
}

.flashcard-extras {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.trash-btn,
.edit-btn {
  border: none;
  border-radius: 8px;
  background: transparent;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.trash-btn:hover,
.edit-btn:hover,
.submit-btn:hover {
  background-color: #dfab0e;
}

.trash-btn:active,
.trash-btn:focus,
.edit-btn:active,
.edit-btn:focus,
.submit-btn:active,
.submit-btn:focus {
  background-color: #656266;
}

.trash-btn:focus,
.edit-btn:focus,
.submit-btn {
  outline: 2px solid #005bd3;
  outline-offset: 2px;
}
